 <header class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "AC Shift Trade Centre", '#', id: "logo" %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help",  help_path %></li>
      <% if logged_in? %>
        <li><%= link_to "Users", "#" %></li>
        <li class="has-dropdown">
          <%= link_to "Account", "#" %>
          <ul class="dropdown">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", "#" %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>

          </ul>
        </li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
</header> 